*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #8D8DAA;
}

.headerContainer {
    background-color: #DFDFDE;
}

.restaurantName {
    font-size: 2rem;
}

.tabsContainer > * {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 1rem 3rem;
    font-size: 1.5rem;
}


#home img {
    width: 50%;
}