/***** GENERAL *****/
@font-face {
    font-family: 'Baskerville';
    src: url('./fonts/LibreBaskerville-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Baskerville';
}

/**********/





/***** HEADER (NAVIGATION BAR) *****/

.headerContainer {
    background-color: rgba(204, 243, 238, 0.9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.restaurantName {
    font-size: 2rem;
    margin-left: 2rem;
}

.tabsContainer>* {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 1rem 2rem;
    font-size: 1.5rem;
}

.tabsContainer>*:hover {
    color: grey;
}

.currentTab {
    text-decoration: underline;
}

/**********/





/***** HOME PAGE *****/
.home {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 8rem;
    background: url('./images/home/people-eating.jpg') no-repeat center center fixed;
    background-size: cover;
}

.introContainer {
    background-color: rgba(249, 206, 238, 0.9);
    border-radius: 10px;
    padding: 1rem;
}

.introHeader {
    margin-bottom: 1rem;
    text-align: center;
}

.introBody {
    font-size: 1.2rem;
    line-height: 2rem;
}

.reviewContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.review {
    display: grid;
    word-break: break-word;
    background-color: rgba(249, 243, 238, 0.8);
    border-radius: 10px;
    padding: 1rem;
}

.reviewText {
    font-size: 1rem;
    line-height: 2rem;
}

.reviewBottom {
    font-size: 1.5rem;
    align-self: end;
    justify-self: center;
}

/**********/




/***** MENU PAGE *****/

.menu {
    background-color: #97C4B8;
}

.menuContainer img {
    object-fit: cover;
    width: 25vw;
    height: 20vw;
    border-radius: 6px;
}

.menuContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10rem;
    row-gap: 5rem;
    column-gap: 10rem;
    justify-content: center;
}

.menuItem {
    background-color: #F9CEEE;
    border-radius: 25px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuItemName {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1rem;
}

/**********/




/***** CONTACT PAGE *****/

.contactContainer {
    display: grid;
    justify-content: center;
    height: 92vh;
    background-color: #97C4B8;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F9F3EE;
    place-items: center;
    padding: 5rem;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;

}

.contact img {
    border-radius: 50%;
    object-fit: cover;
    width: 250px;
    height: 250px;
}

/**********/